.register-container {
    max-width: 350px;
    width: 100%;

    padding: 14px 20px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    animation-name: fade-from-left;
    animation-duration: .5s;

    background-color: rgba(255, 255, 255, .65);

    text-align: center;
}

.register-container .form-group {
    text-align: left;

    display: block;
    margin-bottom: 16px;

    position: relative;
}

.register-container .form-group label {
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    display: block;

    font-size: 16px;
    
    position: absolute;
    bottom: 8px;
    left: 16px;

    color: var(--color-black);
    z-index: 0;
}

.register-container .form-group label i {
    color: var(--color-black);
    width: 30px;
}

.register-container .form-group .form-control {
    font-family: 'Montserrat', sans-serif;
    
    width: 100%;
    padding: 8px 48px;

    border: 0;
    border-bottom: 1px solid var(--color-black);

    background: transparent;

    position: relative;
    z-index: 1;

    color: var(--color-black);

    font-size: 16px;
}

.register-container .form-group .form-control:focus,
.register-container .form-group #submit:focus {
    outline: 0;
}

.register-container .form-group #submit {
    font-family: 'Montserrat', sans-serif;

    margin-top: 8px;

    border: 1px solid var(--color-black);
    background: transparent;

    color: var(--color-black);

    font-size: 16px;
    padding: 8px 24px 8px 8px;
    cursor: pointer;

    transition: .15s ease-in;
}

.register-container .form-group #submit > i {
    width: 30px;
    margin-right: 12px;
}

.register-container .form-group #submit:hover {
    background: var(--color-black);
    color: var(--color-white);

    transition: .15s ease-out;
}

.register-container .form-group #submit:hover > i {
    color: var(--color-white);
    transition: .15s ease-out;
}

.register-container .success p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.register-container .alerts {
    text-align: left;
}

.register-container .alerts p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

    color: var(--color-red);
}

.register-container .alerts button {
    font-family: 'Montserrat', sans-serif;

    margin-top: 8px;

    border: 1px solid var(--color-black);
    background: transparent;

    color: var(--color-black);

    font-size: 16px;
    padding: 8px 24px 8px 8px;
    cursor: pointer;

    transition: .15s ease-in;
}

.register-container .alerts button i {
    width: 20px;
    margin-right: 4px;
}

.register-container .alerts button:hover {
    background: var(--color-black);
    color: var(--color-white);

    transition: .15s ease-out;
}

.register-container .alerts button:hover i {
    color: var(--color-white);
    transition: .15s ease-out;
}